/* Police Outfit */

@font-face {
    font-family: 'Outfit Variable';
    font-style: normal;
    font-display: swap;
    font-weight: 400 600 700;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/outfit:vf@latest/latin-wght-normal.woff2) format('woff2-variations');
    unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
  }

/* Syle du corps de la page */

body {
    background: url("image/background.jpg");
    background-size: 100vw;
    display: flex;
    justify-content: center;
    font-family:'Outfit Variable';
}

.container {
    width: 60vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 20px;
    margin: 3rem;
    padding: 3rem;
    text-align: center;
}

.todo {
    font-size: 2rem;
    background: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 20px;
}

.form {
    background: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.textInput {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 35vw;
    border: none;
    border-radius: 10px;
    placeholder {
        color: white;
    }
}

.submit {
    background: rgba(0, 0, 0, 10);
    color: white;
    border-radius: 10px;
    border: none;
    width: 15vw;
    height: 2.5em;
}

.delete {
    background: rgba(0, 0, 0, 10);
    color: white;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: 1.5rem;
    padding: 0.5rem;
    button {
        background: rgba(0, 0, 0, 0);
        border: none;
    }
}
